.accordion-container {
    width: 90vw;
    position: relative;
    left: 5vw;
}

.topic {
    width: 90vw;
    position: relative;
    left: 5vw;
    display: block;
    text-align: center;
    font-size: 2.7rem;
    color:  #000030;
    margin: 0 0 2rem 0;
}

.body {
    margin: 0;
    /*color: rgba(85, 85, 85, 0.973);*/
    color:  #000030;
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.06rem;
    background-color: rgba(30, 143, 255, 0.055);
    padding: 15px;
    border-radius: 10px;
    /*box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);*/
}

.header {
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.06rem;
}

@media screen and (min-width: 960px) {
    .topic {
        margin: 0 0 2rem 0;
    }
    .accordion-container {
        width: 60vw;
        left: 20vw;
    }

}