.paragraph-container {
  background-image: url("../../../assets/demo/banners/hero-2.png");
  background-repeat: no-repeat;
  font-size: 62.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.para {
}

.topic {
  color: rgb(1, 1, 112);
  text-align: center;
  margin-bottom: 2.1rem;
  font-size: 2.5rem;
  font-weight: 700;
}

@media screen and (min-width: 426px) {
  .paragraph-container {
    background-repeat: repeat-x;
  }
}
