.cover-container{
    background: url("/img/bg/cover_temp7.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    margin-bottom: 90px;
}

.cover-container h1 {
    color: white;
    font-size: 65px;
    letter-spacing: -1px;
    margin: 0;
    margin-left: 50px;
}

.cover-container p {
    color: darkgrey;
    margin-top: 35px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 50px;
}

@media screen and (max-width:320px){
    .cover-container{
        margin-bottom: 80px;
    }
    .cover-container h1, .cover-container p {
        margin-left: 0;
    }
}
