.ContactUs {
    width: 100%;
    background: linear-gradient( rgb(1, 1, 71), rgb(2, 2, 126), rgb(4, 103, 160), rgb(3, 193, 218));
    padding: 3rem 0;
    font-size: 62.5%;
    margin-top: -1rem;
}

.topic {
    color: white;
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 2rem;
}

@media screen and (min-width: 960px) {
    .ContactUs {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}