.footer {
  margin-top: 0;
  padding-top: 5%;
  background-color: #000030;
  color: white;
}

.footer-links {
  line-height: 50px;
  padding-bottom: 20%;
}

.footer-links a {
  text-decoration: none;
}

.footer-follow {
  padding-bottom: 5%;
}
.footer-follow h4 {
  padding-bottom: 5%;
}

.footer-logo-sec {
  margin-top: 10%;
  padding-top: 2%;
  background-color: aliceblue;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.follow-fb {
  color: rgb(255, 255, 255);
}

.follow-fb:hover {
  color: rgb(211, 207, 207);
}
.follow-yt {
  color: red;
}

.follow-yt:hover {
  color: rgb(128, 15, 15);
}

.follow-li {
  color: #1900ff;
}

.follow-li:hover {
  color: #1400c7;
}

.footer-logo-sec p {
  color: black;
  padding-top: 2%;
  margin-top: 2%;
  border-top: 1px solid #2d2e2d;
}

@media only screen and (max-width: 992px) {
  .footer-links {
    line-height: 40px;
    padding-bottom: 10%;
  }
}
