.disable {
  cursor: default;
}

.eventItem-container {
  background-size: cover;
  width: 100%;
  height: 80vw;
  border-radius: 0.25rem;
  z-index: -1;
  opacity: 1;
}

.codersImg {
  background-image: url("/img/events/coders.jpg");
}

.datathonImg {
  background-image: url("/img/events/blog-10.jpg");
}
.compititiveProgrammingImg {
  background-image: url("/img/events/blog-10.jpg");
}

.developerSessionsImg {
  background-image: url("/img/events/Devsession.png");
}

.warzoneImg {
  background-image: url("/img/events/warzone.jpg");
}

.img-container {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  margin: 0;
  border: transparent;
  background: linear-gradient(rgba(255, 255, 255, 0.089) 10%, black);
  z-index: 1;
  opacity: 0.9;
  position: relative;
  transition: background 1s, opacity 1s;
}

.img-container:hover {
  background: linear-gradient(black);
  opacity: 0.5;
}

.img-container div {
  position: absolute;
  bottom: 1rem;
}

.img-container div h4 {
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  margin: 0 0.5rem;
}

.img-container div p {
  color: rgb(145, 145, 145);
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0.3rem 0.5rem 0;
}

.anchor {
  text-decoration: none;
  margin-bottom: 1rem;
}

@media screen and (min-width: 550px) and (max-width: 850px) {
  .eventItem-container {
    height: calc(85vw * 8 / 18);
  }
}

@media screen and (min-width: 850px) {
  .eventItem-container {
    margin: 1rem;
    width: 350px;
    height: calc(350px * 300.15 / 337.675);
  }
}
